.blog-card {
    align-items: flex-start;
    padding: 20px;
    width: 416px;
    height: 579px;
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 6px;
}

.blog-card-list-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(234, 174, 182);
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px
}

.loader {
    border: 10px solid #fbfbfb;
    border-top: 10px solid #082cbb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spinner 2s linear infinite;
    display: flex;
    align-self: center;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}